<% content_for(:html_title) { 'index' } %>

<h1 class="font-bold text-xl">PD2023B</h1>
<br>
<ul class="list-disc">
  <li>Rails version: 7.0.4.1</li>
  <li>Ruby version: ruby 3.0.5p211 (2022-11-24 revision ba5cf0f7c5) [x64-mingw32]</li>
</ul>
<br>
<p>UPDATE 260123 1715</p>
